<div class="container">
  <div class="row">
    <h1> Listing jobs! </h1>
  </div>


  <div class="row">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Poster</th>
        <th>Category</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
<% @jobs.each do |job|%>
    <tr>
      <td> <%=job.created_at.strftime("%m-%d-%Y") %> </td>
      <td> <%= job['poster'] %> </td>
      <td> <%= job['category'] %> </td>
      <td> <%= job['location'] %> </td>
      <td> <%= job['status'] %> </td>
      <td><a href='/jobs/<%=job['id']%>/edit'>Edit</a></td>
      <td><a href='/delete/<%= job['id']%>'>Destroy</a></td>
    </tr>
<% end %>

  </tbody>
  </table>

<a href="jobs/new">Post a new Job!</a>
  </div>
    </div>
